body{
    height: 100vh;
    background: url(images/image\ \(14\).jpg) no-repeat center center/ cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    width: 70%;
    height: 270px;
    background-color: antiquewhite;
    border-radius: 30px;
    box-shadow: 0 0 5px;
}



#timer{
    width: 100%;
    font-size: 75px;
    text-align: center;
    margin: 0px auto;
    padding: 39px;
}

.buttons{
    text-align: center;
    align-items: center;
}

button{
    margin: 0 12px;
    border: none;
}

button i {
    font-size: 2rem;
    padding: 10px;
    color: cadetblue;
    width: 55px;
}


#playButton{
    background-color: green;
    color: rgb(239, 241, 241);

}

#pause{
    background-color: rgb(175, 204, 12);

}

#resetButton{
    background-color: red;
    color: azure;

}

